@import './variables.scss';

.about {
    padding: 2rem;
    text-align: center;
    width: 96%;
    margin: auto;
    color: #fff;
    background-color: $secondary-color;

    p {
        text-align: justify;
        max-width: 75ch;
        margin: 0 auto;
    }
}

