@import './variables.scss';

.footer {
    text-align: center;
    padding: 1rem;
    background-color: $secondary-color;
    color: #fff;
  }

  a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover{
    color: $primary-color;
  }
  