@import './variables.scss';

.grid {
    display: grid;
    background-image: url('https://www.freecodecamp.org/news/content/images/2022/03/photo-1619410283995-43d9134e7656.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
  }
  
  .item {
    min-height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
  }