@import './variables.scss';

.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 200px;
  
    img {
      width: 100%;
      height: auto;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    p {
      font-size: 0.875rem;
    }
  
    span {
      font-weight: bold;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  